{% extends 'layout.html.twig' %}

{% block container_content %}
    <div class="row-fluid">
        <form method="get" action="/compare">
        <div class="span12 c">
            {{ sail1|raw }}
            {{ sail2|raw }}
            <button type="submit" class="btn" style="margin-bottom: 10px">Compare!</button>
        </form>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <h3>{{ info1.skipper }}</h3>
            <dl>
                <dt>Bateau</dt>
                <dd>{{ info1.boat }} [{{ info1.sail }}]</dd>
                <dt>Distance parcourue / à parcourir</dt>
                <dd>
                    <div class="progress">
                        <div class="bar" style="width:{{ '%.2f' | format((24016.60-info1.dtf)/24016.60*100) }}%">
                            {{ 24016.60-info1.dtf }} <abbr title="Nautical Miles">nm</abbr>
                        </div>
                        <div class="togo">
                            {{ info1.dtf }} <abbr title="Nautical Miles">nm</abbr>
                        </div>
                    </div>
                </dd>
            </dl>
            <p>Source : <a target="_blank" href="/json/sail/{{ info1.sail }}.json" rel="tooltip" title="Accès JSON"><i class="icon-download"></i>json/sail/{{ info1.sail }}.json</a></p>
        </div>
        <div class="span3">
            <dl>
                <dt>Dernier pointage</dt>
                <dd>{{ info1.timestamp|date }}</dd>
                <dt>Position au classement</dt>
                <dd>{{ info1.rank }}</dd>
                <dt>Coordonnées</dt>
                <dd>{{ info1.lat_dms }} - {{ info1.lon_dms }}</dd>
                <dt>Cap</dt>
                <dd>{{ info1['1hour_heading'] }}&deg;</dd>
            </dl>
        </div>

        <div class="span3">
            <h3>{{ info2.skipper }}</h3>
            <dl>
                <dt>Bateau</dt>
                <dd>{{ info2.boat }} [{{ info2.sail }}]</dd>
                <dt>Distance parcourue / à parcourir</dt>
                <dd>
                    <div class="progress">
                        <div class="bar" style="width:{{ '%.2f' | format((24016.60-info2.dtf)/24016.60*100) }}%">
                            {{ 24016.60-info2.dtf }} <abbr title="Nautical Miles">nm</abbr>
                        </div>
                        <div class="togo">
                            {{ info2.dtf }} <abbr title="Nautical Miles">nm</abbr>
                        </div>
                    </div>
                </dd>
            </dl>
            <p>Source : <a target="_blank" href="/json/sail/{{ info2.sail }}.json" rel="tooltip" title="Accès JSON"><i class="icon-download"></i>json/sail/{{ info2.sail }}.json</a></p>
        </div>
        <div class="span3">
            <dl>
                <dt>Dernier pointage</dt>
                <dd>{{ info2.timestamp|date }}</dd>
                <dt>Position au classement</dt>
                <dd>{{ info2.rank }}</dd>
                <dt>Coordonnées</dt>
                <dd>{{ info2.lat_dms }} - {{ info2.lon_dms }}</dd>
                <dt>Cap</dt>
                <dd>{{ info2['1hour_heading'] }}&deg;</dd>
            </dl>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h3>Position au classement</h3>
            <div id="rank" class="chart"></div>
        </div>
        <div class="span6">
            <h3>Distance du leader</h3>
            <div id="dtl" class="chart"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h3>Distance sur 24 heures</h3>
            <div id="24hour_distance" class="chart"></div>
        </div>
        <div class="span6">
            <h3>Vitesse sur 24 heures</h3>
            <div id="24hour_speed" class="chart"></div>
        </div>
    </div>

    <script type="text/javascript">
    $(function() {
        var data, $rank = $("#rank"), $dtl = $("#dtl"), $24hour_distance = $("#24hour_distance"), $24hour_speed = $("#24hour_speed");
        var options = {
            series: {
                lines: {
                    steps: false
                }
            },
            xaxis: {
                mode: 'time',
                timezone: 'browser'
            },
            yaxis: {
                min: 1,
            },
            legend: {
                backgroundOpacity: 0,
                noColumns: 2
            }
        };

        data = [];
        data.push({{ dtl1|raw }});
        data.push({{ dtl2|raw }});
        $.plot($dtl, data, options);

        data = [];
        data.push({{ t24hour_distance1|raw }});
        data.push({{ t24hour_distance2|raw }});
        $.plot($24hour_distance, data, options);

        data = [];
        data.push({{ t24hour_speed1|raw }});
        data.push({{ t24hour_speed2|raw }});
        $.plot($24hour_speed, data, options);

        options.yaxis.transform = function (v) { return -v; };
        options.yaxis.tickSize = 2;
        options.yaxis.ticks = 1;
        options.yaxis.max = 20;
        options.series.lines.steps = true;
        data = [];
        data.push({{ rank1|raw }});
        data.push({{ rank2|raw }});
        $.plot($rank, data, options);
    });
    </script>
{% endblock %}
