    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/"><span>{{ '#VG2012 - OpenData'|trans }}</span></a>
                <div class="nav-collapse">
                    <p class="navbar-text pull-right">
                        <a class="{% if app.request.locale == 'fr' %}active {% endif %}navbar-link" href="/fr" title="En français">fr</a>
                        <a class="{% if app.request.locale == 'en' %}active {% endif %}navbar-link" href="/en" title="In english">en</a>
                    </p>
                    <ul class="nav">
                        <li{% if 'homepage' == active %} class="active"{% endif %}><a href="/">{{ 'Home'|trans }}</a></li>
                        <li{% if 'reports' == active %} class="active"{% endif %}><a href="/{{ app.request.locale }}/reports/latest">{{ 'Last ranking'|trans }}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Boats'|trans }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            {% for sail, skipper in sk %}
                                <li{% if sail == active %} class="active"{% endif %}><a href="/{{ app.request.locale }}/sail/{{ sail }}">{{ skipper }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        <li{% if 'doc' == active %} class="active"{% endif %}><a href="/{{ app.request.locale }}/doc/json">{{ 'Documentation'|trans }}</a></li>
                        <li{% if 'about' == active %} class="active"{% endif %}><a href="/{{ app.request.locale }}/about">{{ 'About'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
