{% if p.prev is not null %}
    {% set meta_page_prev = '<link rel="prev" href="' ~ url('report', {id: p.prev}) ~ '">' %}
{% endif %}

{% if p.next is not null %}
    {% set meta_page_next = '<link rel="next" href="' ~ url('report', {id: p.next}) ~ '">' %}
{% endif %}
            <div class="pagination pagination-centered">
                <ul>
                    <li class="previous{{ p.prev is null ? ' disabled' : '' }}">
                        <a href="{{ p.prev is null ? '#' : path('report', {id: p.first}) }}">&lt;&lt;</a>
                    </li>
                    <li class="previous{{ p.prev is null ? ' disabled' : '' }}">
                        <a href="{{ p.prev is null ? '/#' : path('report', {id: p.prev}) }}">&lt;</a>
                    </li>

                    <li class="disabled hidden-phone">
                        <a href="#">{{ 'Ranking %x% of %y%'|trans({'%x%': p.current, '%y%': p.total }) }}</a>
                    </li>

                    <li class="next{{ p.next is null ? ' disabled' : '' }}">
                        <a href="{{ p.next is null ? '#' : path('report', {id: p.next}) }}">&gt;</a>
                    </li>
                    <li class="next{{ p.next is null ? ' disabled' : '' }}">
                        <a href="{{ p.next is null ? '#' : path('report', {id: 'latest'}) }}">&gt;&gt;</a>
                    </li>
                </ul>
            </div>
