{% extends 'layout.html.twig' %}
{% set active = 'about' %}
{% set title = 'About' %}
{% set extra_meta = 'About'|trans() %}
{% set bodyId = 'high' %}

{% block container_content %}
        <div class="hero-unit" lang="fr">
            <h2>{{ "Let's open the data : VG 2012 Open Data!"|trans }} <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url('homepage') }}" data-text="{{ 'Rankings and graphs of the Vendée Globe 2012'|trans }}" data-via="VG2012RaceData" data-lang="{{ app.request.locale }}" data-hashtags="VG2012">{{ 'Tweet'|trans }}</a></h2>
            <p>Je suis le <strong><a href="http://www.vendeeglobe.org/fr/">Vendée Globe</a></strong> de près, et surtout bien-sûr <strong>les classements</strong>! Mais malheureusement ces <a href="http://www.vendeeglobe.org/fr/classements.html">classements</a> sont plutôt légers et les <a href="http://www.vendeeglobe.org/fr/classement-historiques.html">version détaillés</a> sont au <strong>format fermé Excel</strong>, peu exploitable et donc pas très pratique à mon goût. De plus, j'aimerais par exemple avoir des <i class="icon-signal"></i> <a href="{{ path('sail', {ids: random(sk).sail}) }}">graphes</a> sur l'évolution des positions de chaque marin, ou de sa vitesse; ou encore la distance qu'il y a entre le 1er et le dernier au cours du temps, etc... Pas possible sans avoir un accès facile à toutes ces données!</p>
            <p>J'ai donc implémenté une solution pour exporter toutes ces données au <strong>format <a href="http://www.json.org/">JSON</a></strong> afin de pouvoir les <strong>exploiter beaucoup plus facilement</strong>! Ceci pourrait permettre aux développeurs de proposer des <strong>tableaux, graphes et autres cartes</strong> pour visualiser et analyser de façon différente les données de classements de cette régate.</p>
            <p>
                <a href="{{ path('report', {id: 'latest'}) }}" class="btn btn-success btn-large"><i class="icon-table"></i> {{ 'Last ranking'|trans }}</a>
                <a href="{{ path('sail', {ids: random(sk).sail}) }}" class="btn btn-success btn-large"><i class="icon-signal"></i> {{ 'Random boat'|trans }}</a>
                <a href="{{ path('doc_json') }}" class="jsondoc btn btn-primary" target="_blank"><i class="icon-book"></i> {{ 'JSON Doc'|trans }}</a>
            </p>

        </div>
        <div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

        <!-- Example row of columns -->
        <div class="row-fluid tooltips">
            <div class="span4">
                <h2>{{ 'Full'|trans }}</h2>
                <p>{{ 'All the rankings published for all the boats'|trans }}</p>
                <ul>
                    <li><a target="_blank" href="{{ path('race_kmz', {race: race.id}) }}" rel="tooltip" title="{{ "Autorefreshes positions' file"|trans }}"><i class="icon-globe"></i> {{ path('race_kmz', {race: race.id}) }}</a>
                    <li><a target="_blank" href="{{ path('FULL_kmz', {race: race.id}) }}" rel="tooltip" title="{{ 'Download KMZ'|trans }}"><i class="icon-globe"></i> {{ path('FULL_kmz', {race: race.id}) }}</a>
                        <a target="_blank" href="{{ path('FULL_json', {race: race.id}) }}" rel="tooltip" title="{{ 'Download JSON'|trans }}"><i class="icon-download"></i> {{ path('FULL_json', {race: race.id}) }}</a>
                    <li><a target="_blank" href="{{ path('trace_FULL_kmz', {race: race.id}) }}" rel="tooltip" title="{{ 'Download KMZ'|trans }}"><i class="icon-globe"></i> {{ path('trace_FULL_kmz', {race: race.id}) }}</a>
                    <li><a target="_blank" href="{{ path('points_FULL_kmz', {race: race.id}) }}" rel="tooltip" title="{{ 'Download KMZ'|trans }}"><i class="icon-globe"></i> {{ path('points_FULL_kmz', {race: race.id}) }}</a>
                </ul>
            </div>
            <div class="span4">
                <h2>{{ 'Per boat' }}</h2>
                <p>{{ 'All rankings published per boat'|trans }}</p>
                <ul>
                    {% for skipper in sk %}
                        <li>
                            <a href="{{ path('sail', {ids: skipper.sail}) }}" rel="tooltip" title="{{ 'See the graphs'|trans }}"><i class="icon-signal"></i> {{ skipper.skipper }}</a>
                            <ul>
                                <li><a target="_blank" href="{{ path('sail_json', {id: skipper.sail}) }}" rel="tooltip" title="{{ 'Download JSON'|trans }}"><i class="icon-download"></i> {{ path('sail_json', {id: skipper.sail}) }}</a>
                                <li><a target="_blank" href="{{ path('sail_kmz', {id: skipper.sail}) }}" rel="tooltip" title="{{ 'Download KMZ'|trans }}"><i class="icon-globe"></i> {{ path('sail_kmz', {id: skipper.sail}) }}</a>
                        </ul>
                    {% endfor %}
                </ul>
            </div>
            <div class="span4">
                <h2>{{ 'Per ranking'|trans }}</h2>
                <p>{{ 'All published rankings'|trans }}</p>
                <ul>
                    {% for ts in reports %}
                        <li>
                            <a href="{{ path('report', {id: ts|date("Ymd-Hi")}) }}" rel="tooltip" title="{{ 'See the report'|trans }}"><i class="icon-table"></i> {{ ts|date }}</a>
                            <ul>
                                <li><a target="_blank" href="{{ path('reports_json', {race: race.id, id: ts|date("Ymd-Hi")}) }}" rel="tooltip" title="{{ 'Download JSON'|trans }}"><i class="icon-download"></i> {{ path('reports_json', {race: race.id, id: ts|date("Ymd-Hi")}) }}</a>
                            </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}
