{% set bodyId = bodyId|default('normal') %}
{% set title = title|default(null) %}
{% set extra_meta = extra_meta|default(null) %}
{% set meta_page_prev = meta_page_prev|default(null) %}
{% set meta_page_next = meta_page_next|default(null) %}
<!doctype html>
<html class="no-js" lang="{{ app.request.locale }}" itemscope itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ 'meta_title'|trans }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    #}
    <meta name="description" content="{{ extra_meta }} - {{ 'meta_description'|trans }}">
    <meta name="keywords" content="{{ 'meta_keywords'|trans }}">
    <meta name="author" content="Kevin Saliou">
    <link rel="author" href="https://plus.google.com/111159323197167868157">
    {#
    <link rel="author" href="http://{{ race.host }}/humans.txt">
    #}
    <link rel="index" href="http://{{ race.host }}/">
    <meta itemprop="image" content="http://{{ race.host }}/img/logo.png">

    <meta property="og:title" content="{{ title }} | {{ 'meta_title'|trans }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ 'meta_title'|trans }}">
    <meta property="og:url" content="http://{{ race.host }}{{ app.request.getRequestURI() }}">
    <meta property="og:description" content="{{ extra_meta }} - {{ 'meta_description'|trans }}">
    <meta property="og:image" content="http://{{ race.host }}/img/logo.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@kbsali">
    <meta name="twitter:site" content="@VGRaceData">

    {{ meta_page_prev }}
    {{ meta_page_next }}
    {% block meta_pagination %}{% endblock %}
    <link rel="alternate" type="application/rss+xml" title="{{ 'RSS feed for VG2012 rankings'|trans }}" href="{{ url('reports_rss') }}">

    {% if assets_local == true %}
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
        {# <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css"> #}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        {#
        <link rel="stylesheet" href="/css/bootstrap.no-icons.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css">
        #}
        {#
        <link rel="stylesheet" href="/css/font-awesome.css">
        #}
        <!--[if IE 7]>
        <link rel="stylesheet" href="/css/font-awesome-ie7.css">
        <![endif]-->
        {# HTML5 shim, for IE6-8 support of HTML5 elements #}
        <!--[if lt IE 9]>
        <script src="/js/html5.js"></script>
        <![endif]-->
    {% else %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
        {#
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css">
        #}
        <!--[if IE 7]>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome-ie7.css">
        <![endif]-->
        {# HTML5 shim, for IE6-8 support of HTML5 elements #}
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endif %}
    <link rel="stylesheet" href="/css/bootstrap-inline-hidden.css">
    <link rel="stylesheet" href="/css/style.css?2">
    <link rel="apple-touch-icon" href="/img/logo-60.png">
    <link rel="apple-touch-icon-precomposed" href="/img/logo-60.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body id="{{ bodyId }}">
    <a href="https://github.com/kbsali/regadata" class="visible-lg">
        <img style="position:absolute;top:51px;right:0;border:;" src="//s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
    </a>
    {% set active = active|default(null) %}
    {% include '_menu.html.twig' with { 'active': active } %}
    <div class="container" id="main">
        {% block container_content %}{% endblock %}
        <hr>
        <footer>
            <p>
                &copy; <span itemprop="name author"><a href="http://www.linkedin.com/in/kevinsaliou" itemprop="url">Kevin Saliou</a></span>
                <a itemprop="email" href="mailto:kevin_AT_saliou_DOT_name"><i class="icon-envelope"></i></a>
                2016
                <a class="btn btn-mini" href="http://twitter.com/VGRaceData" target="_blank"><i class="icon-twitter icon-large"></i> Follow @VGRaceData</a>
            </p>
        </footer>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js">\x3C/script>')</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script>window.Modernizr || document.write('<script src="/js/modernizr-2.6.1.custom.js">\x3C/script>')</script>

    {% if assets_local == true %}
        <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/vendor/flot/jquery.flot.js"></script>
        {#
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-modalmanager.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        #}
    {% else %}
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        {#
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
        #}
        <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.7/jquery.flot.min.js"></script>
    {% endif %}
    <script src="/js/jquery.flot.time.js"></script>
    {% block extra_js %}{% endblock %}
    <script src="/js/script.js?5"></script>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    {% if debug == false %}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ race.ua }}', 'auto');
      ga('send', 'pageview');
    {% endif %}
    </script>
</body>
</html>
