{% set bodyId = bodyId|default('normal') %}
{% set title = title|default(null) %}
{% set extra_meta = extra_meta|default(null) %}
<!doctype html>
<html class="no-js" lang="{{ app.request.locale }}" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ '#VG2012 - OpenData'|trans }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    #}
    <meta name="description" content="{{ extra_meta }} - {{ 'Get the rankings of the Vendée Globe 2012 and follow the progress of the sailors in an accessible way'|trans }}">
    <meta name="keywords" content="{{ 'Vendée Globe 2012 #vg2012 Jérémie Beyou Arnaud Boissières Louis Burton Samantha Davies Bertrand de Broc Tanguy De Lamotte Kito de Pavant Alessandro Di Benedetto Jean-Pierre Dick François Gabart Mike Golding Marc Guillemot Zbigniew Gutkowski Jean Le Cam Armel Le Cléac´h Vincent Riou Javier Sansó Bernard Stamm Alex Thomson Dominique Wavre'|trans }}">
    <meta name="author" content="Kevin Saliou">

    <link rel="author" href="http://vg2012.saliou.name/humans.txt">
    <link rel="index" href="http://vg2012.saliou.name/">

    <meta property="og:title" content="{{ title }} | {{ '#VG2012 - OpenData'|trans }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://vg2012.saliou.name{{ app.request.getRequestURI() }}">
    <meta property="og:description" content="{{ extra_meta }} - {{ 'Get the rankings of the Vendée Globe 2012 and follow the progress of the sailors in an accessible way'|trans }}">
    <meta property="og:image" content="http://vg2012.saliou.name/img/logo.png">
    <meta itemprop="image" content="http://vg2012.saliou.name/img/logo.png">

    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
    <meta name="DC.title" content="{{ title }} | {{ '#VG2012 - OpenData'|trans }}">
    <meta name="DC.identifier" content="http://vg2012.saliou.name{{ app.request.getRequestURI() }}">
    <meta name="DC.description" content="{{ extra_meta }} - {{ 'Get the rankings of the Vendée Globe 2012 and follow the progress of the sailors in an accessible way'|trans }}">
    <meta name="DC.subject" content="{{ 'Vendée Globe 2012 #vg2012 Jérémie Beyou Arnaud Boissières Louis Burton Samantha Davies Bertrand de Broc Tanguy De Lamotte Kito de Pavant Alessandro Di Benedetto Jean-Pierre Dick François Gabart Mike Golding Marc Guillemot Zbigniew Gutkowski Jean Le Cam Armel Le Cléac´h Vincent Riou Javier Sansó Bernard Stamm Alex Thomson Dominique Wavre'|trans }}">
    <meta name="DC.language" scheme="ISO639-1" content="{{ app.request.locale }}">
    <meta name="DC.creator" content="http://www.linkedin.com/in/kevinsaliou">
    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Event">

    {% block extra_meta_tags %}{% endblock %}
    <link rel="alternate" type="application/rss+xml" title="RSS feed for VG2012 rankings" href="{{ url('reports_rss') }}">

    {% if assets_local == true %}
        <link href="/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
        {# <link href="/css/font-awesome.css" rel="stylesheet"> #}
        <!--[if IE 7]>
        <link href="/css/font-awesome-ie7.css" rel="stylesheet">
        <![endif]-->
        {# HTML5 shim, for IE6-8 support of HTML5 elements #}
        <!--[if lt IE 9]>
        <script src="/js/html5.js"></script>
        <![endif]-->
    {% else %}
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
        <!--[if IE 7]>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome-ie7.css" rel="stylesheet">
        <![endif]-->
        {# HTML5 shim, for IE6-8 support of HTML5 elements #}
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endif %}
    <link rel="stylesheet" href="/css/style.css?2">
    <link rel="apple-touch-icon" href="/img/logo-60.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body id="{{ bodyId }}">
    {% set active = active|default(null) %}
    {% include '_menu.html.twig' with { 'active': active } %}
    <div class="container-fluid" id="main">
        {% block container_content %}{% endblock %}
        <hr>
        <footer>
            <p>
                &copy; <span itemprop="name author"><a href="http://www.linkedin.com/in/kevinsaliou" itemprop="url">Kevin Saliou</a></span>
                <a itemprop="email" href="mailto:kevin_AT_saliou_DOT_name"><i class="icon-envelope"></i></a>
                2012
                <a class="btn btn-mini" href="http://twitter.com/VG2012RaceData" target="_blank"><i class="icon-twitter icon-large"></i> Follow @VG2012RaceData</a>
            </p>
        </footer>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js">\x3C/script>')</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script>window.Modernizr || document.write('<script src="/js/modernizr-2.6.1.custom.js">\x3C/script>')</script>

    {% if assets_local == true %}
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.flot.js"></script>
        {#
        <script src="/js/bootstrap-modalmanager.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        #}
    {% else %}
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.7/jquery.flot.min.js"></script>
    {% endif %}
    <script src="/js/jquery.flot.time.js"></script>

    {% block extra_js %}{% endblock %}
    <script src="/js/script.js?4"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% if debug == false %}
    <script>
    var _gaq = [['_setAccount', 'UA-328215-5'], ['_trackPageview']];
    (function(d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
    })(document, 'script');
    </script>
    {% endif %}
</body>
</html>