<!doctype html>
<html class="no-js" lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">

    {% set title = title|default(null) %}
    {% set extra_meta = extra_meta|default(null) %}
    <title>{{ title }} | #VG2012 - OpenData</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ extra_meta }} - {{ 'Get the rankings of the Vendée Globe 2012 and follow the progress of the sailors in an accessible way'|trans }}">
    <meta name="keywords" content="{{ 'Vendée Globe 2012 #vg2012 Jérémie Beyou Arnaud Boissières Louis Burton Samantha Davies Bertrand de Broc Tanguy De Lamotte Kito de Pavant Alessandro Di Benedetto Jean-Pierre Dick François Gabart Mike Golding Marc Guillemot Zbigniew Gutkowski Jean Le Cam Armel Le Cléac´h Vincent Riou Javier Sansó Bernard Stamm Alex Thomson Dominique Wavre'|trans }}">
    <meta name="author" content="Kevin Saliou">
    <meta property="og:title" content="{{ '#VG2012 - OpenData'|trans }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://vg2012.saliou.name/">
    <meta property="og:description" content="{{ 'Get the rankings of the Vendée Globe 2012 and follow the progress of the sailors in an accessible way'|trans }}">
    {#
    <link href="/css/bootstrap-combined.min.css" rel="stylesheet">
    #}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    {# <link rel="stylesheet" href="/css/bootstrap.min.css"> #}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="/js/jquery.min.js">\x3C/script>')</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script type="text/javascript">window.Modernizr || document.write('<script src="/js/modernizr-2.6.1.custom.js">\x3C/script>')</script>
</head>
<body>
    {% set active = active|default(null) %}
    {% include '_menu.html.twig' with { 'active': active } %}

    <div class="container-fluid">

        {% block container_content %}{% endblock %}
        <hr>
        <footer>
            <p>
                &copy; <a href="http://www.linkedin.com/in/kevinsaliou">Kevin Saliou</a>
                <a href="mailto:kevin_AT_saliou_DOT_name"><i class="icon-envelope"></i></a>
                2012
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vg2012.saliou.name/" data-text="{{ 'Rankings and graphs of the Vendée Globe 2012'|trans }}" data-via="kbsali" data-lang="{{ app.request.locale }}" data-hashtags="VG2012">{{ 'Tweet'|trans }}</a>
            </p>
        </footer>
    </div>
    {#
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script src="http://jschr.github.com/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
    <script src="http://jschr.github.com/bootstrap-modal/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-modalmanager.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/script.js"></script>
    #}
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.flot.js"></script>
    <script src="/js/jquery.flot.time.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-328215-5']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</body>
</html>
