{% extends 'layout.html.twig' %}
{% set active = 'doc' %}
{% set title = 'Documentation' %}

{% block container_content %}
        <div class="row-fluid">
            <div class="span8">
                <h1>{{ 'Documentation'|trans }}</h1>
                <p>{{ 'Description of the data available in the Json files'|trans}}</p>
                <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{ 'Index'|trans }}</th>
                        <th>{{ 'Value'|trans }}</th>
                        <th>{{ 'Description'|trans }}</th>
                        <th>{{ 'Unit / Format'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>race_id</td><td>1</td><td>{{ 'VG2012'|trans }}</td><td></td></tr>
                    <tr><td>rank</td><td>1</td><td>{{ 'Ranking of the boat'|trans }}</td><td></td></tr>
                    <tr><td>country</td><td>"FR"</td><td>{{ 'Country'|trans }}</td><td></td></tr>
                    <tr><td>sail</td><td>"FRA19"</td><td>{{ 'Sail number'|trans }}</td><td></td></tr>
                    <tr><td>skipper</td><td>"Armel Le Cléac'h"</td><td>{{ 'Skipper'|trans }}</td><td></td></tr>
                    <tr><td>boat</td><td>"Banque Populaire"</td><td>{{ 'Boat name'|trans }}</td><td></td></tr>

                    <tr><td>source</td><td>"12910"</td><td>{{ 'Source filename (usually Excel format)'|trans }}</td><td></td></tr>
                    <tr><td>id</td><td>"20130401-1340"</td><td>{{ 'Unique report id - YYYYMMDD-HHmi'|trans }}</td><td></td></tr>

                    <tr><td>time</td><td>"10:00"</td><td>{{ 'Time'|trans }}</td><td>{{ 'HH:mi'|trans }}</td></tr>
                    <tr><td>date</td><td>"2012-11-27"</td><td>{{ 'Date'|trans }}</td><td>{{ 'YYYY-MM-DD'|trans }}</td></tr>
                    <tr><td>timestamp</td><td>1354014000</td><td>{{ 'Unix Timestamp'|trans }}</td><td>{{ 'Seconds'|trans }}</td></tr>

                    <tr><td>lat_dms</td><td>"25°55.49'S"</td><td>{{ 'Latitude'|trans }}</td><td>{{ 'DMS - Degree Minute Seconds'|trans }}</td></tr>
                    <tr><td>lon_dms</td><td>"18°59.69'W"</td><td>{{ 'Longitude'|trans }}</td><td>{{ 'DMS - Degree Minute Seconds'|trans }}</td></tr>
                    <tr><td>lat_dec</td><td>-25.930277777778</td><td>{{ 'Latitude'|trans }}</td><td>{{ 'Decimal Degree'|trans }}</td></tr>
                    <tr><td>lon_dec</td><td>-19.0025</td><td>{{ 'Longitude'|trans }}</td><td>{{ 'Decimal Degree'|trans }}</td></tr>

                    <tr><td>1hour_heading</td><td>123</td><td>{{ 'Last hour cape'|trans }}</td><td>{{ 'Degrees'|trans }}</td></tr>
                    <tr><td>1hour_speed</td><td>9.2</td><td>{{ 'Last hour Speed'|trans }}</td><td>{{ 'Knots'|trans }}</td></tr>
                    <tr><td>1hour_vmg</td><td>9.1</td><td>{{ 'Last hour Velocity Made Good'|trans }}</td><td>{{ 'Knots'|trans }}</td></tr>
                    <tr><td>1hour_distance</td><td>9.2</td><td>{{ 'Last hour distance'|trans }}</td><td>{{ 'Nautical Miles'|trans }}</td></tr>

                    <tr><td>lastreport_heading</td><td>116</td><td>{{ 'Cape since last report'|trans }}</td><td>{{ 'Degrees'|trans }}</td></tr>
                    <tr><td>lastreport_speed</td><td>8.4</td><td>{{ 'Speed since last report'|trans }}</td><td>{{ 'Knots'|trans }}</td></tr>
                    <tr><td>lastreport_vmg</td><td>8.4</td><td>{{ 'Velocity Made Good since last report'|trans }}</td><td>{{ 'Knots'|trans }}</td></tr>
                    <tr><td>lastreport_distance</td><td>25.1</td><td>{{ 'Distance since last report'|trans }}</td><td>{{ 'Nautical Miles'|trans }}</td></tr>

                    <tr><td>24hour_heading</td><td>126</td><td>{{ 'Last 24-hours cape'|trans }}</td><td>{{ 'Degrees'|trans }}</td></tr>
                    <tr><td>24hour_speed</td><td>12.9</td><td>{{ 'Last 24-hours speed'|trans }}</td><td>{{ 'Knots'|trans }}</td></tr>
                    <tr><td>24hour_vmg</td><td>12.7</td><td>{{ 'Last 24-hours Velocity Made Good'|trans }}</td><td>{{ 'Knots'|trans }}</td></tr>
                    <tr><td>24hour_distance</td><td>308.7</td><td>{{ 'Last 24-hours distance'|trans }}</td><td>{{ 'Nautical Miles'|trans }}</td></tr>

                    <tr><td>dtf</td><td>19547</td><td>{{ 'Distance To Final' }}</td><td>{{ 'Nautical Miles'|trans }}</td></tr>
                    <tr><td>dtl</td><td>0</td><td>{{ 'Distance To Leader'|trans }}</td><td>{{ 'Nautical Miles'|trans }}</td></tr>
                    <tr><td>dtl_diff</td><td>-32.54</td><td>{{ 'Distance To Leader Change'|trans }}</td><td>{{ 'Nautical Miles'|trans }}</td></tr>
                    <tr><td>total_distance</td><td>354</td><td>{{ 'Real total distance travelled'|trans }}</td><td>{{ 'Nautical Miles'|trans }}</td></tr>

                    <tr><td>color</td><td>558a42</td><td>{{ 'Hexadecimal color code for this boat'|trans }}</td><td>{{ 'Hexadecimal'|trans }}</td></tr>
                </tbody>
                </table>
            </div>
            <div class="span4">
                <h3>{{ 'Json Preview'|trans }}</h3>
                <p>&nbsp;</p>
                <iframe style="height: 600px;width: 330px" src="{{ path('doc_format') }}"></iframe>
            </div>
        </div>
{% endblock %}
