{% extends 'layout.html.twig' %}
{% set active = 'reports' %}
{% set title = 'General ranking %date%'|trans({'%date%':r.timestamp|date}) %}
{% set extra_meta = 'General ranking %date%'|trans({'%date%':r.timestamp|date}) %}

{% block container_content %}
            {% include '_pagination.html.twig' with { 'p': pagination } %}

            <table class="table table-condensed table-bordered table-hover table-striped" id="report">
                <caption>{{ 'Ranking : %date%'|trans({'%date%':r.timestamp|date}) }}</caption>
                <thead>
                    <tr class="{{ full ? '' : ' hidden-phone hidden-tablet' }}">
                        <th scope="colgroup" colspan="2">&nbsp;</th>
                        <th scope="colgroup" class="c borderleft" colspan="2">{{ 'Ranking'|trans }}</th>
                        <th scope="colgroup" class="c borderleft borderrigtht" colspan="3">{{ '1 hour'|trans }}</th>
                        <th scope="colgroup" class="c" colspan="4">{{ 'Last ranking'|trans }}</th>
                        <th scope="colgroup" class="c borderleft" colspan="4">{{ '24 hours'|trans }}</th>
                        <th scope="colgroup" class="c borderleft" colspan="2">&nbsp;</th>
                        <th scope="colgroup" class="c borderleft" colspan="4">{{ 'Overall'|trans }}</th>
                    </tr>
                    <tr>
                        <th scope="col" class="t">{{ 'Rank'|trans }}</th>
                        <th scope="col" class="t">{{ 'Skipper [Boat]'|trans}}</th>

                        <th scope="col" class="c t borderleft{{ full ? '' : ' hidden-phone' }}"><abbr title="{{ 'Latitude'|trans }}">{{ 'Lat'|trans }}</abbr><br>(<abbr title="{{ 'Degrees Minutes Seconds'|trans }}">{{ 'DMS'|trans }}</abbr>)</th>
                        <th scope="col" class="c t{{ full ? '' : ' hidden-phone' }}"><abbr title="{{ 'Longitude'|trans }}">{{ 'Lon'|trans }}</abbr><br>(<abbr title="{{ 'Degrees Minutes Seconds'|trans }}">{{ 'DMS'|trans }}</abbr>)</th>

                        <th scope="col" class="c t borderleft{{ full ? '' : ' hidden-phone' }}">{{ 'Heading'|trans }}<br>(<abbr title="{{ 'Degree'|trans }}">°</abbr>)</th>
                        <th scope="col" class="c t{{ full ? '' : ' hidden-phone' }}">{{ 'Speed'|trans }}<br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>
                        <th scope="col" class="c t borderrigtht{{ full ? '' : ' hidden-phone' }}"><abbr title="{{ 'Velocity Made Good'|trans }}">{{ 'VMG'|trans }}</abbr><br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>

                        <th scope="col" class="c t{{ full ? '' : ' hidden-phone hidden-tablet' }}">{{ 'Heading'|trans }}<br>(<abbr title="{{ 'Degree'|trans }}">°</abbr>)</th>
                        <th scope="col" class="c t{{ full ? '' : ' hidden-phone hidden-tablet' }}">{{ 'Speed'|trans }}<br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>
                        <th scope="col" class="c t{{ full ? '' : ' hidden-phone hidden-tablet' }}"><abbr title="{{ 'Velocity Made Good'|trans }}">{{ 'VMG'|trans }}</abbr><br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>
                        <th scope="col" class="c t{{ full ? '' : ' hidden-phone hidden-tablet' }}">{{ 'Distance'|trans }}<br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>

                        <th scope="col" class="c t{{ full ? '' : ' hidden-phone hidden-tablet' }} borderleft">{{ 'Heading'|trans }}<br>(<abbr title="{{ 'Degree'|trans }}">°</abbr>)</th>
                        <th scope="col" class="c t">{{ 'Speed'|trans }}<br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>
                        <th scope="col" class="c t"><abbr title="{{ 'Velocity Made Good'|trans }}">{{ 'VMG'|trans }}</abbr><br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>
                        <th scope="col" class="c t">{{ 'Distance'|trans }}<br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>

                        <th scope="col" class="c t borderleft{{ full ? '' : ' hidden-phone hidden-tablet' }}"><abbr title="{{ 'Real total distance travelled'|trans }}">{{ 'RTDT'|trans }}</abbr><br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>
                        <th scope="col" class="c t{{ full ? '' : ' hidden-phone hidden-tablet' }}"><abbr title="{{ 'Overall average speed'|trans }}">{{ 'OAS'|trans }}</abbr><br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>

                        <th scope="col" class="c t borderleft"><abbr title="{{ 'Distance To Final'|trans }}">{{ 'DTF'|trans }}</abbr><br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>
                        <th scope="col" class="c t"><abbr title="{{ 'Distance To Leader Change'|trans }}">{{ 'DTLC'|trans }}</abbr><br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>
                        <th scope="col" class="c t{{ full ? '' : ' hidden-phone' }}"><abbr title="{{ 'Distance to Predecessor'|trans }}">{{ 'DTP'|trans }}</abbr><br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>
                        <th scope="col" class="c t"><abbr title="{{ 'Distance To Leader'|trans }}">{{ 'DTL'|trans }}</abbr><br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>
                    </tr>
                </thead>
                <tbody>
                    {% set dtp = 0 %}
                    {% for r in report %}
                        {% set class1 = 'label-info' %}
                        {% set class2 = 'icon-circle-arrow-right' %}
                        {% if r['dtl_diff'] < 0 %}
                            {% set class1 = 'label-success' %}
                            {% set class2 = 'icon-circle-arrow-up' %}
                        {% elseif r['dtl_diff'] > 0 %}
                            {% set class1 = 'label-important' %}
                            {% set class2 = 'icon-circle-arrow-down' %}
                        {% endif %}
                    <tr>
                        <td class="r"><span class="badge">{{ r.rank }} <i class="icon-circle" style="color: #{{ r.color }}"></i></span></td>
                        <td>
                            <a href="/{{ app.request.locale }}/sail/{{ r.sail }}">{{ r.skipper }}</a>
                            <span class="hidden-phone hidden-tablet">[<a href="/{{ app.request.locale }}/sail/{{ r.sail }}">{{ r.boat }}</a>]</span>
                        </td>

                        <td class="borderleft{{ full ? '' : ' hidden-phone' }}">{{ r.lat_dms }}</td>
                        <td class="{{ full ? '' : ' hidden-phone' }}">{{ r.lon_dms }}</td>

                        <td class="r borderleft{{ full ? '' : ' hidden-phone' }}">{{ r['1hour_heading'] }}</td>
                        <td class="r 1hspeed{{ full ? '' : ' hidden-phone' }}">{{ '%.1f' | format(r['1hour_speed']) }}</td>
                        <td class="r 1hvmg borderrigtht{{ full ? '' : ' hidden-phone' }}">{{ '%.1f' | format(r['1hour_vmg']) }}</td>

                        <td class="r{{ full ? '' : ' hidden-phone hidden-tablet' }}">{{ r.lastreport_heading }}</td>
                        <td class="r{{ full ? '' : ' hidden-phone hidden-tablet' }} lrspeed">{{ '%.1f' | format(r.lastreport_speed) }}</td>
                        <td class="r{{ full ? '' : ' hidden-phone hidden-tablet' }} lrvmg">{{ '%.1f' | format(r.lastreport_vmg) }}</td>
                        <td class="r{{ full ? '' : ' hidden-phone hidden-tablet' }} lrdistance">{{ '%.1f' | format(r.lastreport_distance) }}</td>

                        <td class="r{{ full ? '' : ' hidden-phone hidden-tablet' }} borderleft">{{ r['24hour_heading'] }}</td>
                        <td class="r 24hspeed">{{ '%.1f' | format(r['24hour_speed']) }}</td>
                        <td class="r 24hvmg">{{ '%.1f' | format(r['24hour_vmg']) }}</td>
                        <td class="r 24hdistance">{{ '%.1f' | format(r['24hour_distance']) }}</td>

                        <td class="r total_distance borderleft{{ full ? '' : ' hidden-phone hidden-tablet' }}">{{ '%.1f' | format(r['total_distance']) }}</td>
                        <td class="r oas{{ full ? '' : ' hidden-phone hidden-tablet' }}">{{ '%.1f' | format(r['total_distance'] / ((r['timestamp'] - start_date) / (60 * 60))) }}</td>

                        <td class="r borderleft">{{ '%.1f' | format(r['dtf']) }}</td>
                        <td class="r dtl_diff"><span class="label {{ class1 }}">{{ '%.1f' | format(r['dtl_diff']|abs) }} <i class="icon-white {{ class2 }}"></i></span></td>
                        <td class="r dtp{{ full ? '' : ' hidden-phone hidden-tablet' }}">{{ '%.1f' | format(r['dtl']-dtp|abs) }}</td>
                        <td class="r">{{ '%.1f' | format(r['dtl']) }}</td>
                        {% set dtp = r['dtl'] %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include '_pagination.html.twig' with { 'p': pagination } %}

            <ul class="pager hidden-desktop">
                <li>
                    {% if full == false %}
                    <a href="?full=1"><i class="icon-resize-full"></i> {{ 'Full view'|trans }}</a>
                    {% else %}
                    <a href="?"><i class="icon-resize-small"></i>{{ 'Mobile view'|trans }}</a>
                    {% endif %}
                </li>
            </ul>

            <p class="tooltips">
                {{ 'Source'|trans }} : <a target="_blank" href="{{ source }}" rel="tooltip" title="Source JSON"><i class="icon-download"></i> {{ source }}</a>
                | <a target="_blank" href="/vg2012.kmz"><i class="icon-download"></i> {{ '/vg2012.kmz'|trans }}</a>
                | <a target="_blank" href="http://tracking2012.vendeeglobe.org/fr/"><i class="icon-globe"></i> {{ 'Official Map'|trans }}</a>
                | <a target="_blank" href="http://goo.gl/jQjKO"><i class="icon-globe"></i> {{ 'Google Map'|trans }}</a>
                <br>
                * {{ 'Bold numbers are the greatest values of the report'|trans }}
            </p>
{% endblock %}
