{% extends 'layout.html.twig' %}
{% set active = 'reports' %}
{% set title = 'General ranking %date%'|trans({'%date%':r.timestamp|date}) %}
{% set extra_meta = 'General ranking %date%'|trans({'%date%':r.timestamp|date}) %}

{% block container_content %}
            {% include '_pagination.html.twig' with { 'p': pagination } %}
            <table class="table table-condensed table-bordered table-hover table-striped" id="report">
                <caption>{{ 'Ranking : %date%'|trans({'%date%':r.timestamp|date}) }}</caption>
                <thead>
                    <tr>
                        <th scope="colgroup" colspan="2">&nbsp;</th>
                        <th scope="colgroup" class="c borderleft" colspan="2">{{ 'Ranking'|trans }}</th>
                        <th scope="colgroup" class="c borderleft" colspan="3">{{ '1 hour'|trans }}</th>
                        <th scope="colgroup" class="c borderleft" colspan="4">{{ 'Last ranking'|trans }}</th>
                        <th scope="colgroup" class="c borderleft" colspan="4">{{ '24 hours'|trans }}</th>
                        <th scope="colgroup" class="c borderleft" colspan="2">&nbsp;</th>
                    </tr>
                    <tr>
                        <th scope="col" class="t">{{ 'Rank'|trans }}</th>
                        <th scope="col" class="t">{{ 'Skipper [Boat]'|trans}}</th>

                        <th scope="col" class="c t borderleft"><abbr title="{{ 'Latitude'|trans }}">{{ 'Lat'|trans }}</abbr><br>(<abbr title="{{ 'Degrees Minutes Seconds'|trans }}">{{ 'lat_dms'|trans }}</abbr>)</th>
                        <th scope="col" class="c t"><abbr title="{{ 'Longitude'|trans }}">{{ 'Lon'|trans }}</abbr><br>(<abbr title="{{ 'Degrees Minutes Seconds'|trans }}">{{ 'DMS'|trans }}</abbr>)</th>

                        <th scope="col" class="c t borderleft">{{ 'Heading'|trans }}<br>(<abbr title="{{ 'Degree'|trans }}">°</abbr>)</th>
                        <th scope="col" class="c t">{{ 'Speed'|trans }}<br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>
                        <th scope="col" class="c t"><abbr title="{{ 'Velocity Made Good'|trans }}">{{ 'VMG'|trans }}</abbr><br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>

                        <th scope="col" class="c t borderleft">{{ 'Heading'|trans }}<br>(<abbr title="{{ 'Degree'|trans }}">°</abbr>)</th>
                        <th scope="col" class="c t">{{ 'Speed'|trans }}<br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>
                        <th scope="col" class="c t"><abbr title="{{ 'Velocity Made Good'|trans }}">{{ 'VMG'|trans }}</abbr><br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>
                        <th scope="col" class="c t">{{ 'Distance'|trans }}<br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>

                        <th scope="col" class="c t borderleft">{{ 'Heading'|trans }}<br>(<abbr title="{{ 'Degree'|trans }}">°</abbr>)</th>
                        <th scope="col" class="c t">{{ 'Speed'|trans }}<br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>
                        <th scope="col" class="c t"><abbr title="{{ 'Velocity Made Good'|trans }}">{{ 'VMG'|trans }}</abbr><br>(<abbr title="{{ 'Knots'|trans }}">{{ 'kn'|trans }}</abbr>)</th>
                        <th scope="col" class="c t">{{ 'Distance'|trans }}<br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>

                        <th scope="col" class="c t borderleft"><abbr title="{{ 'Distance To Final'|trans }}">{{ 'DTF'|trans }}</abbr><br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>
                        <th scope="col" class="c t"><abbr title="{{ 'Distance To Leader'|trans }}">{{ 'DTL'|trans }}</abbr><br>(<abbr title="{{ 'Nautical Miles'|trans }}">{{ 'nm'|trans }}</abbr>)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in report %}
                    <tr>
                        <td class="r"><span class="badge">{{ r.rank }}</span></td>
                        <td>
                            <a href="/{{ app.request.locale }}/sail/{{ r.sail }}">{{ r.skipper }}</a>
                            [<a href="/{{ app.request.locale }}/sail/{{ r.sail }}">{{ r.boat }}</a>]
                        </td>

                        <td class="borderleft">{{ r.lat_dms }}</td>
                        <td>{{ r.lon_dms }}</td>

                        <td class="r borderleft">{{ r['1hour_heading'] }}</td>
                        <td class="r 1hspeed">{{ '%.1f' | format(r['1hour_speed']) }}</td>
                        <td class="r 1hvmg">{{ '%.1f' | format(r['1hour_vmg']) }}</td>

                        <td class="r borderleft">{{ r.lastreport_heading }}</td>
                        <td class="r lrspeed">{{ '%.1f' | format(r.lastreport_speed) }}</td>
                        <td class="r lrvmg">{{ '%.1f' | format(r.lastreport_vmg) }}</td>
                        <td class="r lrdistance">{{ '%.1f' | format(r.lastreport_distance) }}</td>

                        <td class="r borderleft">{{ r['24hour_heading'] }}</td>
                        <td class="r 24hspeed">{{ '%.1f' | format(r['24hour_speed']) }}</td>
                        <td class="r 24hvmg">{{ '%.1f' | format(r['24hour_vmg']) }}</td>
                        <td class="r 24hdistance">{{ '%.1f' | format(r['24hour_distance']) }}</td>

                        <td class="r borderleft">{{ r['dtf'] }}</td>
                        <td class="r">{{ '%.1f' | format(r['dtl']) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include '_pagination.html.twig' with { 'p': pagination } %}
            <p class="tooltips">
                {{ 'Source'|trans }} : <a target="_blank" href="{{ source }}" rel="tooltip" title="Source JSON"><i class="icon-download"></i> {{ source }}</a>
                {{ 'Map'|trans }} : <a target="_blank" href="http://tracking2012.vendeeglobe.org/fr/"><i class="icon-globe"></i> {{ 'Official Map'|trans }}</a>
                <br>
                * {{ 'Bold numbers are the greatest values of the report'|trans }}
            </p>
{% endblock %}
